* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-size: 18px;
  font-family: Helvetica, Arial;
  overflow: hidden;
}

.controls {
  background: rgba(255, 255, 255, .5);
  color: #000;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  transition: all .5s ease-in-out;

  input {
    border: 0;
    padding: 10px;
    width: auto;
    margin-right: .5%;
  }

  button {
    padding: .5em;
    font-size: 16px;
  }

  .hidden {
    display: none;
  }

  //
  // Touch controls
  //

  .proto {
    display: inline-block;
    width: 8vh;
    height: 8vh;
    background: #fff;
  }

  #square {

  }

  #circle {
    border-radius: 50%;
  }
}

#canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.shape {
  width: 200px;
  height: 200px;
  cursor: grab;
  position: absolute;
}

.shape--square {
  // default
}

.shape--circle {
  border-radius: 50%;
}

.unchanged {
  // pop-in effect
  transform: scale(0);
  animation: appear .33333s cubic-bezier(.17,.67,.19,1.92);
  animation-fill-mode: forwards;
}

@keyframes appear {
  100% {
    transform: scale(1);
  }
}

.grabbing {
  cursor: grabbing;
}
