//------------------------------------------------------------------------------
// Global stuff
//------------------------------------------------------------------------------
$delay: .25s;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; // @TODO: this might cause problems, watch out for it.
}

body,
html {
  position: fixed;
}

body {
  background: #fff;
  color: #000;
  font-size: 18px;
  font-family: Helvetica, Arial;
  overflow: hidden;
  touch-action: none;
}

.hide {
  position: absolute;
  opacity: 0 !important;
  transition: opacity $delay ease-in-out;
  z-index: -1000 !important;
}

br.r {
  display: none;

  @media (min-width: 420px) {
    display: initial;
  }
}
