//------------------------------------------------------------------------------
// Canvas
//------------------------------------------------------------------------------

#canvas {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
  user-select: none;
  touch-action: none;
}

.debug {
  position: absolute;
  bottom: 7em;
  left: 0;
  right: 0;
}

.debug--shape {
  opacity: 0;
  color: #666;
  bottom: 9em;
}
.debug--canvas {
  color: #000;
}
