//------------------------------------------------------------------------------
// Shape editor
//------------------------------------------------------------------------------

.controls {
  width: 100vw;
  padding: .25em;
  position: fixed;
  bottom: 0;
  z-index: 1100;
  user-select: none;

  color: #fff;
  opacity: 1;
  transition: all .5s ease-in-out;

  // Space the labels/buttons out a bit
  label, button {
    display: inline-block;
    padding: .5em .4em;
    user-select: none;
    text-transform: lowercase;
    cursor: pointer;
    position: relative; // for child controls
    z-index: 5;
    color: white;
    text-shadow: 1px 1px 0 rgba(#000, .6);
    background: rgba(#111, .1);

    // Default "closed" state.
    opacity: 0;
    transform: translateX(-20px);

    // Transition between states.
    transition: .33333s $snap-1;
    transition-property: transform, opacity;

    // Remove 300ms delay on focusable elements in a future version of Safari.
    //
    // @see https://adactio.com/journal/10019
    touch-action: manipulation;
  }

  // Hide controls by default. Holding finger on label toggles visibility.
  input,
  select {
    position: absolute;
    z-index: 5;
    left: 0;
    bottom: 3em;
    opacity: 0; // unconditional bc if the person got this far, they have JS.
    transform: translateY(100%); // slide down out of view
    transition: all .1666s ease-in-out;
  }

  // Show controls when toggled
  input.visible,
  select.visible {
    opacity: 1;
    transform: translateY(0);
    z-index: 50;
  }

  input {
    border: 0;
    padding: 10px;
    width: auto;
    margin-right: .5%;
  }

  .hidden {
    display: none;
  }

  //
  // Opacity
  //
  #opacity {
    // Vertical slider
    writing-mode: bt-lr; // IE
    -webkit-appearance: slider-vertical; // WebKit / Blink
    // Firefox uses the "orient" attr in HTML to be vertical

    // Slider styles
    width: 50%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #ecf0f1;
      border: 1px solid #bdc3c7;
      width: 30px;
      height: 24px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  // Color
  label[for="color"] {
    #color {
      // display: none;
      transform: translateX(10000px);
    }

    .cp-app {
      position: absolute;
      top: auto !important; // override inline styles from lib
      bottom: 3em !important; // override inline styles from lib
      left: -8em !important;
    }
  }

  // General button styles
  button {
    font-size: 1.2em;
    width: 1.8em;
    height: 2em;
    margin: 0 .25em;
    padding: .4em .7em;
    border: none;
    border-radius: 3px;
    background: unset;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    z-index: 100;
  }

  // Toggle button
  #toggle {
    width: 2.4em;
    margin-left: 0;
    opacity: 1;
    position: relative;
    z-index: 100;

    // Spice up the button with effects.
    white-space: nowrap;
    text-indent: -1.5em;

    // Transition effects.
    transition: background-color .2s ease-in-out,
                text-indent .25s ease-in-out;

    // Override interaction indicators.
    &:focus, &:hover {
      outline: none;
    }
    &:focus {
      background-color: rgba(255, 255, 255, .1);
    }

    .open, .cancel {
      display: inline-block;
      text-align: left;
      width: 3em;
    }

    .open {
      // Nudge the emoji into better-looking place.
      transform: translateX(-1px);
    }
  }

  #add {
    padding: 0;
    background-color: rgba(255, 255, 255, .16);
    outline: none;

    // Icon
    .add {
      font-size: 1.5em;
      text-shadow: 1px 1px 0 rgba(#000, .6);

      // Nudge the emoji into better-looking place.
      display: inline-block;
      transform: translateY(-4px);
    }

    // Override interaction indicators.
    &:focus {
      animation: button-pulse 2s ease-in-out alternate infinite;
    }
  }

  #save {
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: .5em;
    right: .5em;
  }

  //
  // Toggle drawer
  //

  // Active styles
  &.controls--open {
    // Toggle state
    #toggle {
      text-indent: 0em;
      background-color: rgba(255, 255, 255, .16);
    }

    // Set the default visible properties.
    label, button {
      opacity: 1;
      transform: none;
      z-index: 5;
    }
  }

  // Now, individually set the disabled states to create a pleasing transition
  // from closed to open.
  button#toggle {
    transform: none;
  }
  label:nth-of-type(1) {
    transition-delay: 0;
  }
  label:nth-of-type(2) {
    transition-delay: .04s;
  }
  label:nth-of-type(3) {
    transition-delay: .08s;
  }
  label:nth-of-type(4) {
    transition-delay: .12s;
  }
  button#add {
    transition-delay: .16s;
  }
}

@keyframes button-pulse {
  50% {
    background-color: rgba(255, 255, 255, .2);
  }
}
