//------------------------------------------------------------------------------
// Shape editor
//------------------------------------------------------------------------------

.controls {
  width: 100vw;
  padding: .25em;
  position: fixed;
  bottom: 0;
  z-index: 1100;

  color: #fff;
  opacity: 1;
  transition: all .5s ease-in-out;

  // Space the labels/buttons out a bit
  label, button {
    display: inline-block;
    margin: 0 .6em;
    user-select: none;
    text-transform: lowercase;
    cursor: pointer;
    position: relative; // for child controls
    z-index: 100;
  }

  // Hide controls by default. Holding finger on label toggles visibility.
  input,
  select {
    position: absolute;
    z-index: 50;
    left: 0;
    bottom: 2em;
    opacity: 0; // unconditional bc if the person got this far, they have JS.
    transform: translateY(50%); // slide down out of view
    transition: all .1666s ease-in-out;
  }

  // Show controls when toggled
  input.visible,
  select.visible {
    opacity: 1;
    transform: translateY(0);
  }

  input {
    border: 0;
    padding: 10px;
    width: auto;
    margin-right: .5%;
  }

  button {
    padding: .5em;
    font-size: 16px;
  }

  .hidden {
    display: none;
  }

  //
  // Opacity
  //
  #opacity {
    // Vertical slider
    writing-mode: bt-lr; // IE
    -webkit-appearance: slider-vertical; // WebKit / Blink
    // Firefox uses the "orient" attr in HTML to be vertical

    // Slider styles
    width: 50%;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-color: #ecf0f1;
      border: 1px solid #bdc3c7;
      width: 30px;
      height: 24px;
      border-radius: 10px;
      cursor: pointer;
    }
  }


  //
  // Shape picker
  //

  .proto {
    display: inline-block;
    width: 8vh;
    height: 8vh;
    background: #fff;
  }

  #square {

  }

  #circle {
    border-radius: 50%;
  }
}
