//------------------------------------------------------------------------------
// Shape editor
//------------------------------------------------------------------------------

.controls {
  width: 100vw;
  height: 64px;
  padding: .5em;
  position: fixed;
  bottom: 0;
  z-index: 1100;
  user-select: none;

  color: #fff;
  opacity: 1;
  transition: all .5s ease-in-out;
  background: rgba(#000, .15);
  border-top: 4px solid rgba(#000, .1);

  //
  // Flexbox props
  //
  display: flex;
  flex-flow: row wrap;
  text-align: center;

  // General button styles
  button {
    font-size: 1.2em;
    width: 1.8em;
    height: 1.5em;
    margin: 0 .25em;
    padding: .2em .3em;
    border: none;
    border-radius: 3px;
    background: unset;
    overflow: hidden;
    cursor: pointer;
    vertical-align: middle;
    z-index: 100;
  }

  #save {
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: .5em;
    right: .5em;
  }

  // Each visible shape is a preset.
  .preset {
    flex: 1 0 25%;
    transform-style: preserve-3d; // for advanced button effects
    perspective: 100px;
  }
}

@keyframes button-pulse {
  50% {
    background-color: rgba(255, 255, 255, .2);
  }
}
