//------------------------------------------------------------------------------
// Global stuff
//------------------------------------------------------------------------------

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; // @TODO: this might cause problems, watch out for it.
}

body {
  background: #000;
  color: #fff;
  font-size: 18px;
  font-family: Helvetica, Arial;
  overflow: hidden;
}

.hide {
  position: absolute;
  opacity: 0 !important;
  transition: opacity .25s ease-in-out;
  z-index: -1000 !important;
}
