//------------------------------------------------------------------------------
// Global stuff
//------------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-size: 18px;
  font-family: Helvetica, Arial;
}

.hidden {
  opacity: 0;
  transition: opacity .25s ease-in-out;

  position: relative;
  z-index: -1000;
}
