//------------------------------------------------------------------------------
// Login form
//------------------------------------------------------------------------------

#form-login {
  background: rgba(#fff, .5);
  width: 40vw;
  height: 50vh;
}
