//
// Presets
//
// These rules are used depending on a global body class.
//
$color: #000;
$color-1: #fecc00;
$color-2: #006aa7;
$color-3: #2a1c43;
$color-4: #d72e4e;

$size: 36px;

.proto {
  display: inline-block;
  color: rgba($color, 1);
  background: currentColor;
  transform: translateY(0%);
  transition: transform ($delay * 1.5) $snap-1,
              opacity ($delay / 2) ease-in-out;
  transition-delay: 0s;

  &.active {
    transition-delay: 0s;
    transform: translateZ(-80px) rotateY(40deg) rotateX(40deg);
    opacity: .5;
  }

  .hide & {
    transform: translateY(100%) scale(.5);
  }

  &-2 {
    transition-delay: ($delay / 4);
  }
  &-3 {
    transition-delay: ($delay / 3);
  }
  &-4 {
    transition-delay: ($delay / 2);
  }
}

.preset-1 {
  //
  // Prototype shapes
  .proto--square {
    width: $size;
    height: $size;
  }
  .proto--rectangle {
    width: ($size * 2);
    height: $size;
  }
  .proto--circle {
    width: $size;
    height: $size;
    border-radius: 50%;
  }
  .proto--triangle {
    width: $size;
    height: $size;
    border-top: 0;
    border-left: ($size / 2) solid transparent;
    border-right: ($size / 2) solid transparent;
    border-bottom: $size solid currentColor;
    background-color: transparent; // necessary for triangle to render properly
  }
}
