//------------------------------------------------------------------------------
// Shapes
//------------------------------------------------------------------------------
.shape {
  cursor: grab;
  cursor: -webkit-grab;
}

//
// Mouse users see a grabbing cursor.
//
.grabbing {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
