//------------------------------------------------------------------------------
// Welcome message
//------------------------------------------------------------------------------

.welcome {
  position: absolute;
  padding: 1em;

  @include mw($intro-width + 20px) {
    width: $intro-width;
    left: 50%;
    transform: translateX(-50%);
  }

  h1 {
    margin-bottom: .5em;
  }

  p {
    margin-bottom: 1em;
  }

  // Display a message to mouse users so I can ease my conscience about the
  // various levels of support.
  .no-touch {
    display: none;

    .no-touchevents & {
      display: block;
      font-size: 1.2em;
      font-style: italic;
    }
  }
}

// never let the site name wrap
.bustashape {
  white-space: nowrap;
}
